:root {
    --main: #284B63;
    --gold: #f2c600;
    --offwhite: #fbfbfb;
    --lightblue: #ecf0f6;
    --flatgreen: #3C6E71;
    --slate: #353535;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Utility Classes */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.gap {
    gap: 24px 8px;
}

.col {
    flex-direction: column;
}

.center {
    align-items: center;
}

.justified {
    justify-content: center;
}
.spacebetween {
    justify-content: space-between;
}
.button {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    max-width: 250px;
    text-align: center;
    white-space: nowrap;
    border: none;
}

.small {
    font-size: 12px;
}
.black-text {
    color: black;
    font-weight: 300;
}

/* end */



/* Nav styles */

header {
    margin-right: auto;
}
header h1 {
    margin: 0 1rem;
}
nav, main {
    background: var(--main);
    color: white;
}
nav {
    padding: 1rem;
}
ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

/* Hero Styles */
.hero {
    padding: 8rem 1rem;
    background-color: linear-gradient(var(--main), blue);
}
.card {
    display: flex;
    margin: 0 2rem 4rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}
.card img {
    border: 1px solid white;
    border-radius: 3rem;
    max-width: 50%;
    object-fit: cover;
}
.card h1, .card h5 {
    flex-shrink: 2;
}

.hero .button {
    color: var(--main);
    background-color: var(--gold);
}


/* Project Styles */

section.projects {
    background-color: var(--offwhite);
    color: var(--main);
    padding: 3rem 1rem;
}

section.projects a.button {
    color: var(--offwhite);
    background-color: var(--main);
    transition: all 1s;
}

section.projects a:hover {
    color: var(--main);
    background-color: var(--gold);
    transition: all 1s;
}

.projects .card {
    border: 2px solid var(--main);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

/* Products Section Styles */

.products {
    background-color: white;
}
.products h2 {
    margin: 0;
    text-align: center;
}
.products svg {
    fill: var(--lightblue);
}

.products .product-card {
    color: var(--flatgreen);
    border: 2px solid var(--flatgreen);
    border-radius: 0.75rem;
    padding: 1.5rem;
    text-align: center;
}

.product-card ul li {
    padding: 4px 0;
    border: 1px solid transparent;
    margin: 1px;
}
.product-card ul li:hover {
    background-color: silver;
    border: 1px solid black;
    border-radius: 4px;
}
.products .price {
    margin-bottom: -25px;
}

.products .button {
    display: block;
    color: white;
    background-color: var(--flatgreen);
    transform: translateY(40px);
}

.products li::before {
    content: '✓';
    margin-right: 4px;
    color: var(--gold);
}

.grid {
    margin: 1rem 0;
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    .gold {
        grid-column: span 2;
    }
}
@media screen and (max-width: 400px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

 /* Newsletter Form Styles */

 .newsletter {
    padding: 3rem;
    background-color: var(--flatgreen);
    background: linear-gradient(#27365196, var(--flatgreen)); 
 }
.newsletter h2 {
    text-align: center;
}
 .newsletter form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.5rem;
 }

 .newsletter input {
    flex-grow: 2;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--main);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.5);

 }

 .newsletter button {
    font-size: 1.5rem;
    color: white;
    background: var(--gold);
    flex-grow: 1;
 }

 /* Footer Styles */

 footer {
    background-color: var(--main);
    padding: 3rem;
    color: var(--lightblue);
 }

 footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
 }